In [13]:
import warnings
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd

In [14]:
df = pd.read_csv("C:/Users/ncbor/OneDrive/Documents/AirQual-06272023.csv")

In [15]:
print(df)

    Column1    Column2     Column3  Column4  Column5  Column6  Column7  \
0    YPODX7  6/27/2023  1:06:11 PM    24.55   985.54    25.25    46.35
1    YPODX7  6/27/2023  1:06:20 PM    24.58   985.62    25.28    45.46
2    YPODX7  6/27/2023  1:10:39 PM    24.34   985.54    24.99    44.38
3    YPODX7  6/27/2023  1:15:47 PM    25.57   985.54    26.55    53.48
4    YPODX7  6/27/2023  1:15:56 PM    25.68   985.57    26.66    51.56
..      ...        ...         ...      ...      ...      ...      ...
489  YPODX7  6/27/2023  2:28:52 PM    41.37   985.64    42.34    28.95
490  YPODX7  6/27/2023  2:29:00 PM    41.35   985.63    42.32    28.87
491  YPODX7  6/27/2023  2:29:09 PM    41.35   985.58    42.33    28.54
492  YPODX7  6/27/2023  2:29:18 PM    41.33   985.60    42.31    28.37
493  YPODX7  6/27/2023  2:29:27 PM    41.06   985.47    42.10    29.18

     Column8  Column9  Column10  ...  Column21  Column22  Column23  Column24  \
0        835       17        38  ...       NaN      7781      8254      9677
1        836       18        41  ...       NaN      7764      7636      9669
2       1060        6        12  ...       NaN      7783      7400      9677
3        192       24        42  ...       NaN      7781      7936      9678
4        194       37        71  ...       NaN      7763      7484      9670
..       ...      ...       ...  ...       ...       ...       ...       ...
489      253       60       125  ...       NaN      7739      3510      9666
490      252       60       128  ...       NaN      7739      3505      9666
491      252       64       131  ...       NaN      7739      3492      9667
492      248       62       128  ...       NaN      7739      3486      9667
493      244       61       127  ...       NaN      7739      3470      9667

     Column25  Column26  Column27  Column28  Column29  Column30
0        4503     26553      2958     13101      7762       NaN
1        4312     26564      2953     13102      7236       NaN
2        4076     26564      2964     13103      7520       NaN
3        4075     26566      2942     13098      8084       NaN
4        3993     26576      2935     13099      7548       NaN
..        ...       ...       ...       ...       ...       ...
489      2453     26634      2727     13037      4697       NaN
490      2440     26633      2725     13037      4691       NaN
491      2434     26633      2723     13037      4681       NaN
492      2433     26633      2725     13037      4681       NaN
493      2408     26633      2731     13037      4655       NaN

[494 rows x 30 columns]

In [17]:
df.columns=['y_pod_model','date','time','bme_temp_degrees_C','bme_pres_mb','temp_sht_degrees_C','humidity_sht_%_RH','raw_CO2_PPM','raw_pm_<=1_micron','raw_pm_<=2.5_micron','raw_pm_<=10.0_micron','column_12','column_13','column_14','column_15','column_16','column_17','column_18','column_19','column_20','column_21','fig_210_heat','fig_210_sens','fig_280_heat','fig_280_sens','raw_co','adc2_channel2','e2vo3_heat','e2vo3_sens','GPS']

In [18]:
print(df)

    y_pod_model       date        time  bme_temp_degrees_C  bme_pres_mb  \
0        YPODX7  6/27/2023  1:06:11 PM               24.55       985.54
1        YPODX7  6/27/2023  1:06:20 PM               24.58       985.62
2        YPODX7  6/27/2023  1:10:39 PM               24.34       985.54
3        YPODX7  6/27/2023  1:15:47 PM               25.57       985.54
4        YPODX7  6/27/2023  1:15:56 PM               25.68       985.57
..          ...        ...         ...                 ...          ...
489      YPODX7  6/27/2023  2:28:52 PM               41.37       985.64
490      YPODX7  6/27/2023  2:29:00 PM               41.35       985.63
491      YPODX7  6/27/2023  2:29:09 PM               41.35       985.58
492      YPODX7  6/27/2023  2:29:18 PM               41.33       985.60
493      YPODX7  6/27/2023  2:29:27 PM               41.06       985.47

     temp_sht_degrees_C  humidity_sht_%_RH  raw_CO2_PPM  raw_pm_<=1_micron  \
0                 25.25              46.35          835                 17
1                 25.28              45.46          836                 18
2                 24.99              44.38         1060                  6
3                 26.55              53.48          192                 24
4                 26.66              51.56          194                 37
..                  ...                ...          ...                ...
489               42.34              28.95          253                 60
490               42.32              28.87          252                 60
491               42.33              28.54          252                 64
492               42.31              28.37          248                 62
493               42.10              29.18          244                 61

     raw_pm_<=2.5_micron  ...  column_21  fig_210_heat  fig_210_sens  \
0                     38  ...        NaN          7781          8254
1                     41  ...        NaN          7764          7636
2                     12  ...        NaN          7783          7400
3                     42  ...        NaN          7781          7936
4                     71  ...        NaN          7763          7484
..                   ...  ...        ...           ...           ...
489                  125  ...        NaN          7739          3510
490                  128  ...        NaN          7739          3505
491                  131  ...        NaN          7739          3492
492                  128  ...        NaN          7739          3486
493                  127  ...        NaN          7739          3470

     fig_280_heat  fig_280_sens  raw_co  adc2_channel2  e2vo3_heat  \
0            9677          4503   26553           2958       13101
1            9669          4312   26564           2953       13102
2            9677          4076   26564           2964       13103
3            9678          4075   26566           2942       13098
4            9670          3993   26576           2935       13099
..            ...           ...     ...            ...         ...
489          9666          2453   26634           2727       13037
490          9666          2440   26633           2725       13037
491          9667          2434   26633           2723       13037
492          9667          2433   26633           2725       13037
493          9667          2408   26633           2731       13037

     e2vo3_sens  GPS
0          7762  NaN
1          7236  NaN
2          7520  NaN
3          8084  NaN
4          7548  NaN
..          ...  ...
489        4697  NaN
490        4691  NaN
491        4681  NaN
492        4681  NaN
493        4655  NaN

[494 rows x 30 columns]